<div class="container">
  <app-base-card class="image">
    <app-material-card
      [imageDesc]="image.imageDesc"
      [artist]="image.artist"
      [imageName]="image.imageName"
      [imageUrl]="image.url"
    >
    </app-material-card>
  </app-base-card>
  <div class="chat-container">
    <div class="chat-view">
      <p *ngFor="let msg of messages">
        {{ msg }}
      </p>
    </div>
    <mat-form-field class="chat-input" appearance="outline">
      <mat-label>quick search</mat-label>
      <input
        (keyup.enter)="send()"
        [(ngModel)]="chatInput"
        matInput="keywords"
      />
      <mat-icon (click)="send()" matSuffix>send</mat-icon>
    </mat-form-field>
  </div>
</div>
