@import '~src/assets/styles/style.scss';
:host{
    .container{
        @include flexRow;
        justify-content: space-around;
        .image{
            width: 70%;
        }
        .chat-container{
            @include flexColumn;
            width: 29%;
            border:1px solid black;
            border-radius: 4px;
            .chat-view{
                height: 96%;
                background: lightgreen;


            }
        }
    }

    ::ng-deep .mat-form-field-wrapper{
        padding-bottom: 0;
        margin:0;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper{
        margin: 0;
    }
    .chat-view{
        padding: 30px 20px;
        .bubble{
        //   width: 240px;
          height: auto;
          display: block;
          background: #A5C1C0;
          border-radius: 4px;
          box-shadow: 2px 8px 5px #000;
          position: relative;
          margin: 0 0 25px;
          box-shadow: $box-shadow;
          &.is-from-user{
              background-color: white;
              .txt{
                  .name{
                      color: #2ecc71 !important;
                  }
              }
          }
          &.alt{
            margin: 0 0 0 60px;
          }
          .txt{
            padding: 8px 55px 8px 14px;
            .name{
              font-weight: 600;
              font-size: 12px;
              margin: 0 0 4px;
              color: #3498db;
              span{
                font-weight: normal;
                color: #b3b3b3;
              }
              &.alt{
                color: white;
              }
            }
            .message{
              font-size: 12px;
              margin: 0;
              color: #2b2b2b;
            }
            .timestamp{
              font-size: 11px;
              position: absolute;
              bottom: 8px;
              right: 10px;
              text-transform: uppercase; color: #999
            }
          }
          .bubble-arrow {
            position: absolute;
            width: 0;
            bottom:42px;
            left: -16px;
            height: 0;
            background-color: white;
            &.alt{
              right: -2px;      
              bottom: 40px;
              left: auto;
            }
          }
          .bubble-arrow:after {
            content: "";
            position: absolute;
            border: 0 solid transparent;
            border-top: 9px solid white;
            border-radius: 0 20px 0;
            width: 15px;
            height: 30px;
            transform: rotate(145deg);
          }
          .bubble-arrow.alt:after {
            border-top:9px solid #A5C1C0;
            transform: rotate(45deg) scaleY(-1);
          }
         
        }

      }
}