<div class="container">
  <app-base-card class="image">
    <app-material-card
      [imageDesc]="image.imageDesc"
      [artist]="image.artist"
      [imageName]="image.imageName"
      [imageUrl]="image.url"
    >
    </app-material-card>
  </app-base-card>
  <div class="chat-container">
    <div class="chat-view">
      <div
        *ngFor="let msg of messages"
        class="bubble"
        [ngClass]="{ 'is-from-user': msg.user_id._id !== userId }"
      >
        <div class="txt">
          <p class="name alt">
            {{ msg.user_id.userName }}
          </p>
          <p class="message">
            {{ msg.msg }}
          </p>
        </div>
        <div
          class="bubble-arrow"
          [ngClass]="{ alt: msg.user_id._id === userId }"
        ></div>
      </div>
    </div>
    <mat-form-field class="chat-input" appearance="outline">
      <mat-label>quick search</mat-label>
      <input
        (keyup.enter)="send()"
        [(ngModel)]="chatInput"
        matInput="keywords"
      />
      <mat-icon (click)="send()" matSuffix>send</mat-icon>
    </mat-form-field>
  </div>
</div>
